altair==4.2.2
appnope @ file:///Users/ktietz/demo/mc3/conda-bld/appnope_1629146036738/work
arch==5.2.0
astatine==0.3.2
astor==0.8.1
astpretty==3.0.0
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
attrs==22.2.0
autoflake==1.7.8
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
bandit==1.7.4
black==22.12.0
blinker==1.5
Bottleneck @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-q_dytog6/bottleneck_1648041541248/work
cachetools==5.3.0
certifi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5d968ni_yn/croot/certifi_1671487774636/work/certifi
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.3
cognitive-complexity==1.3.0
convertdate @ file:///tmp/build/80754af9/convertdate_1634070773133/work
coverage==6.5.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
darglint==1.8.1
debugpy @ file:///Users/builder/miniconda3/envs/prefect/conda-bld/debugpy_1637092214173/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
degiroapi==0.9.5
distlib==0.3.6
dlint==0.14.0
doc8==0.11.2
docformatter==1.5.1
domdf-python-tools==3.6.0
entrypoints @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-jb01gaox/entrypoints_1650293758411/work
eradicate==2.1.0
exceptiongroup==1.1.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
flake8==4.0.1
flake8-2020==1.6.1
flake8-aaa==0.12.2
flake8-annotations==2.9.1
flake8-annotations-complexity==0.0.7
flake8-annotations-coverage==0.0.6
flake8-bandit==3.0.0
flake8-black==0.3.6
flake8-blind-except==0.2.1
flake8-breakpoint==1.1.0
flake8-broken-line==0.4.0
flake8-bugbear==22.12.6
flake8-builtins==1.5.3
flake8-class-attributes-order==0.1.3
flake8-coding==1.3.2
flake8-cognitive-complexity==0.1.0
flake8-commas==2.1.0
flake8-comments==0.1.2
flake8-comprehensions==3.10.1
flake8-debugger==4.1.2
flake8-django==1.1.5
flake8-docstrings==1.7.0
flake8-encodings==0.5.0.post1
flake8-eradicate==1.4.0
flake8-executable==2.1.3
flake8-expression-complexity==0.0.11
flake8-fixme==1.1.1
flake8-functions==0.0.7
flake8-functions-names==0.4.0
flake8-future-annotations==0.0.5
flake8-helper==0.2.1
flake8-isort==4.2.0
flake8-literal==1.3.0
flake8-logging-format==0.9.0
flake8-markdown==0.3.0
flake8-mutable==1.2.0
flake8-no-pep420==2.3.0
flake8-noqa==1.3.0
flake8-pie==0.16.0
flake8-plugin-utils==1.3.2
flake8-polyfill==1.0.2
flake8-pyi==22.11.0
flake8-pylint==0.1.3
flake8-pytest-style==1.7.0
flake8-quotes==3.3.2
flake8-rst-docstrings==0.2.7
flake8-secure-coding-standard==1.4.0
flake8-simplify==0.19.3
flake8-slots==0.1.5
flake8-string-format==0.3.0
flake8-tidy-imports==4.8.0
flake8-typing-imports==1.12.0
flake8-use-fstring==1.4
flake8-use-pathlib==0.3.0
flake8-useless-assert==0.4.4
flake8-variables-names==0.0.5
flake8-warnings==0.4.0
fonttools==4.25.0
gitdb==4.0.10
GitPython==3.1.30
hijri-converter @ file:///tmp/build/80754af9/hijri-converter_1634064010501/work
holidays @ file:///tmp/build/80754af9/holidays_1634075247071/work
hypothesis==6.68.1
hypothesmith==0.1.9
idna==3.3
importlib-metadata==6.1.0
ipykernel @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-4yxj69n0/ipykernel_1647009452031/work/dist/ipykernel-6.9.1-py3-none-any.whl
ipython @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_b42ce53b-9348-4ffe-874e-ee7a7d34be58zn88hkt_/croots/recipe/ipython_1651600151534/work
jedi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-f1t6hma6/jedi_1644315882177/work
Jinja2==3.1.2
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
jsonschema==4.17.3
jupyter-client @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_37f0874a-8189-43c8-984a-7cc5aa7f2a00vekz677y/croots/recipe/jupyter_client_1650622203010/work
jupyter-core @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5839c60e-0f30-4a99-b0b9-2b009ec5fec40y9fo9ym/croots/recipe/jupyter_core_1651671230982/work
jupyterlab-flake8==0.7.1
kiwisolver @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_69de275f-e01d-4033-8ea6-9caf70c31072d5uirqak/croots/recipe/kiwisolver_1653292042660/work
korean-lunar-calendar @ file:///tmp/build/80754af9/korean_lunar_calendar_1634063020401/work
lark-parser==0.12.0
libcst==0.4.9
lxml==4.9.0
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-_3usbnl1/matplotlib-suite_1647506475477/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mdurl==0.1.2
mr-proper==0.0.7
multitasking==0.0.10
munkres==1.1.4
natsort==8.2.0
nest-asyncio @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-xymukih3/nest-asyncio_1649931465456/work
numexpr @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-ny1mxojk/numexpr_1640704752206/work
numpy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ba5c3eaa-be93-4f42-ae24-fa720a3c6627m_sp7nbj/croots/recipe/numpy_and_numpy_base_1652801688716/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.4.2
pandas-ta==0.3.14b0
pandas-vet==0.2.3
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathspec==0.9.0
patsy==0.5.2
pbr==5.11.1
pep8-naming==0.12.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.0.1
platformdirs==3.0.0
plotly @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_672bb9cb-0b87-45c7-a944-fab16de85302u663y0l7/croots/recipe/plotly_1658160062672/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
property-cached==1.6.4
protobuf==3.20.3
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==11.0.0
pybetter==0.4.1
pycln==1.3.5
pycodestyle==2.8.0
pycparser==2.21
pydeck==0.8.0
pyemojify==0.2.0
pyflakes==2.4.0
Pygments==2.14.0
PyMeeus @ file:///tmp/build/80754af9/pymeeus_1634069098549/work
Pympler==1.0.1
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
pyrsistent==0.19.3
pytest-cov==3.0.0
pytest-sugar==0.9.6
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dev-tools==2022.5.27
pytz @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_830e8540-4c59-42fe-9515-a6f79c24ff6dh653xa67/croots/recipe/pytz_1654762630628/work
pytz-deprecation-shim==0.1.0.post0
pyupgrade==2.38.4
pyzmq @ file:///Users/builder/miniconda3/envs/prefect/conda-bld/pyzmq_1638447141825/work
removestar==1.3.1
requests==2.28.0
restructuredtext-lint==1.4.0
rich==13.3.2
rpy2==3.5.10
scikit-learn @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-ic3nfbzi/scikit-learn_1642621481325/work
scipy==1.8.1
seaborn @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_bfw6gzh1ye/croot/seaborn_1669625743104/work
semver==2.13.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.0
ssort==0.11.6
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
statsmodels==0.13.2
stdlib-list==0.8.0
stevedore==5.0.0
stockstats==0.5.2
streamlit==1.20.0
tenacity @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a27e1f84-c8c2-4f0a-a0cd-1784e49abcfcgw2e5mao/croots/recipe/tenacity_1657899116589/work
termcolor==2.2.0
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tokenize-rt==4.2.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado @ file:///Users/ktietz/demo/mc3/conda-bld/tornado_1628698929452/work
tox==3.28.0
tox-travis==0.13
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
typer==0.4.2
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2022.7
tzlocal==4.3
untokenize==0.1.1
urllib3==1.26.9
validators==0.20.0
virtualenv==20.19.0
watchdog==3.0.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
wemake-python-styleguide==0.16.1
yfinance==0.1.72
zipp==3.15.0
